* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(132, 23, 88, 0.6);
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 530px;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid green;
}

.food {
    width: 299%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.food img {
    /* width: 33.17%; */
    aspect-ratio: 9 / 16;
    object-fit: contain;
}
