* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #2A7B9B;
    background: linear-gradient(300deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 530px;
    background-color: black;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid black;
    user-select: none;
}

main img {
    width: 100%;
    aspect-ratio: 9 / 16;
    object-fit: contain;
    pointer-events: none; /* Prevents image drag on Firefox */
}
